.nav {
    background: #282929;
    padding:10px;
    display:flex;
    flex:1;
    align-items:center;
    justify-content:space-between;
  }
  
  .nav-title{
    color: white;
    font-family:'Margarine', cursive;
  }
  
  .nav-links{
    display:flex;
    align-items:center;
    justify-content:space-between;
    list-style-type:none;
    width:550px;
  }
  
  li a{
    color:white;
    text-decoration:none;
  }
  
  .btn{
    color:white;
    background:#098a9c;
    border: 2px solid black;
    box-shadow:  3px 3px black;
  }