h1{
    font-family:monospace;
    color: white;
    background-color:black;
    font-size:30px;
    text-align: left;
    padding:5px;
    margin-bottom:0px;
  }
  span{
    color:cyan;
  }
  
  h2{
    background-color:rebeccapurple;
    color: white;
    font-family:sans-seriff;
    text-align: center;
    padding:8px;
    font-style:italic;
    margin-top:8px;
    margin-bottom:8px;
  }
  
  h3 {
    background-color:#96bcfa;
    font-family:sans-seriff;
    text-align:right;
    padding:5px;
    margin-top:0px;
    text-decoration:underline;
  }